
[submodule "jasper2"]
	path = jasper2
	url = git@github.com:jekyller/jasper2.git
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "personal/themes/hermit"]
	path = personal/themes/hermit
	url = https://github.com/Track3/hermit.git
